streamlit
langchain
langchain-community 
langchain_google_genai 
langchain-core 
faiss-cpu 
tiktoken 
python-dotenv 
google_generativeai
pypdf
docx
PyPDF2
python-dotenv
bs4
unstructured
python-docx

